body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #255ee9;
    color: white;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 40px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li {
    display: flex;
    justify-content: center;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header ul li a.login-button {
    background-color: white;
    color: #7289da;
    padding: 5px 10px;
    border-radius: 15px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #f3f4f6;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.hero-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.hero-text h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
}

.hero-text p {
    font-size: 1.2em;
    margin: 20px 0;
    color: white;
    text-align: center;
}

.buttons .btn {
    background-color: white;
    color: black;
    padding: 11px 29px;
    text-decoration: none;
    border-radius: 16px;
    margin-right: 20px;
}

.buttons .btn-secondary {
    background-color: #040404;
    color: #ffffff;
}

.features {
    padding: 50px 20px;
}

#future-text {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.text-end {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.button-end {
    display: flex;
    justify-content: center;
    background-color: purple;
    color: black;
    padding: 8px 29px;
    text-decoration: none;
    border-radius: 16px;
    margin-right: 20px;

}


.content-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.content-row div {
    flex: 1;
    padding: 20px;
    text-align: center;

}


.set {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    background-color: lightgrey;
    padding: 56px;
    background-color: rgba(30, 32, 44, 0.11);
}

.set div {
    background-color: rgba(30, 32, 44, 0.11);
    width: 50%;
    height: 110%;
}




#section {
    background-color: rgba(30, 32, 44, 0.11);
    width: 90%;

}




.feature-image img {
    height: auto;
}

.feature-text h2 {
    font-size: 2.5em;
    margin: 33px 173px;
    text-align: left;

}

.feature-text p {
    font-size: 1em;
    color: #333;
    text-align: center;
}


.large-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f3f3f3;
    flex-direction: column-reverse;
}

.footer-content {
    background-color: #23272a;
    color: white;
}


.footer-content h2 {
    margin-bottom: 20px;
}